<ul class="langs-selector">
    {% unless page.layout == 'post' %}
        
        {% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
        {% for page in pages %}
            <li>
                <a href="{{ page.url }}" class="{{ page.lang }}">{{ page.lang }}</a>
            </li>
        {% endfor %}

    {% else %}

        {% for lang in site.data.langs-settings.langs %}

            {% assign index_suffix = '/' %}

            {% unless lang == 'en' %}
                {% assign index_suffix = '/' | append: lang %}
            {% endunless %}

            <li>
                <a href="{{ index_suffix | relative_url }}" {%- if lang == page.lang -%}class="bold"{%- endif -%}>{{ lang }}</a>
            </li>

        {% endfor %}

    {% endunless %}
</ul>
        