<ul>
    {% unless page.layout == 'post' %}
        
        {% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
        {% for page in pages %}
            <li>
                <a href="{{ page.url }}" class="{{ page.lang }}">{{ page.lang }}</a>
            </li>
        {% endfor %}

    {% else %}

        {% for lang in site.langs %}
            <li>
                <a href="{{ page.url }}" class="{{ page.lang }}">{{ page.lang }}</a>
            </li>
        {% endfor %}

    {% endunless %}
</ul>
        