.centered {
    text-align: center;
}

.bold {
    font-weight: bold;
}

.btn {
    font-size: 20px;
    padding: 1em;
    display: inline-block;
    background-color: #666;
    color: #fff;
    text-decoration: none;
    &:hover {
        color: #fff;
        background-color: darken(#666, 10%);
        text-decoration: none;
    }
}