.page-section {
    display: block;
    margin: 3em 0;
}

.page-content h1 {
    text-align: center;
}

.section-header {
    text-align: center;
    margin-bottom: 1em;
}

.section-title {
    font-size: 35px;
    text-transform: uppercase;
    font-weight: normal;
    border-bottom: 3px solid #666;
    display: inline-block;
}

.speakers {
    overflow: hidden;
}

.speaker {
    float: left;
    width: 50%;
    text-align: center;
}

.speaker-name {
    font-size: 20px;
    font-weight: bold;
}